@media (min-width: 320px) {
  html {
    font-size: 38.1px;
  }
}
@media (min-width: 360px) {
  html {
    font-size: 42.86px;
  }
}
@media (min-width: 375px) {
  html {
    font-size: 44.64px;
  }
}
@media (min-width: 384px) {
  html {
    font-size: 45.71px;
  }
}
@media (min-width: 400px) {
  html {
    font-size: 47.62px;
  }
}
@media (min-width: 414px) {
  html {
    font-size: 49.29px;
  }
}
@media (min-width: 424px) {
  html {
    font-size: 50.48px;
  }
}
@media (min-width: 480px) {
  html {
    font-size: 57.14px;
  }
}
@media (min-width: 540px) {
  html {
    font-size: 64.29px;
  }
}
@media (min-width: 720px) {
  html {
    font-size: 85.71px;
  }
}
@media (min-width: 750px) {
  html {
    font-size: 89.29px;
  }
}
.container {
  background-color: #fff;
}
.header {
  padding-left: 0.96rem;
  padding-right: 0.88rem;
  background-color: #f4483e;
}
.header a {
  width: 0.96rem;
  height: 0.96rem;
  display: block;
  background: url("../images/icback.svg") no-repeat;
  background-size: 0.4rem 0.4rem;
  background-clip: content-box;
  background-origin: content-box;
  padding: 0.28rem;
  position: absolute;
  top: 0;
  left: 0;
}
.header h3 {
  text-align: center;
  color: #fff;
  font-weight: 700;
  margin: 0;
  line-height: 1rem;
  font-size: 0.36rem;
}
.content {
  padding: 0.3rem 0.1rem 0 0.24rem;
}
.content li {
  width: 32%;
  height: 1.64rem;
  float: left;
  border: 0.02rem solid #dddddd;
  margin-bottom: 0.1rem;
}
.content li:nth-child(2) {
  margin: 0 1%;
}
.content li a {
  display: block;
  text-align: center;
  padding: 0.1rem;
}
.content li a img {
  width: 1rem;
  height: 1rem;
  margin: 0 auto;
}
.content li a p {
  font-size: 0.28rem;
  margin-top: 0.04rem;
}
.footer .login {
  margin-top: 0;
}
