@media (min-width: 320px) {
  html {
    font-size: 38.1px;
  }
}
@media (min-width: 360px) {
  html {
    font-size: 42.86px;
  }
}
@media (min-width: 375px) {
  html {
    font-size: 44.64px;
  }
}
@media (min-width: 384px) {
  html {
    font-size: 45.71px;
  }
}
@media (min-width: 400px) {
  html {
    font-size: 47.62px;
  }
}
@media (min-width: 414px) {
  html {
    font-size: 49.29px;
  }
}
@media (min-width: 424px) {
  html {
    font-size: 50.48px;
  }
}
@media (min-width: 480px) {
  html {
    font-size: 57.14px;
  }
}
@media (min-width: 540px) {
  html {
    font-size: 64.29px;
  }
}
@media (min-width: 720px) {
  html {
    font-size: 85.71px;
  }
}
@media (min-width: 750px) {
  html {
    font-size: 89.29px;
  }
}
.container {
  background-color: #fff;
}
.header {
  padding-left: 0.96rem;
  padding-right: 0.88rem;
  background-color: #f4483e;
}
.header a {
  width: 0.96rem;
  height: 0.96rem;
  display: block;
  background: url("../images/icback.svg") no-repeat;
  background-size: 0.4rem 0.4rem;
  background-clip: content-box;
  background-origin: content-box;
  padding: 0.28rem;
  position: absolute;
  top: 0;
  left: 0;
}
.header h3 {
  text-align: center;
  color: #fff;
  font-weight: 700;
  margin: 0;
  line-height: 1rem;
  font-size: 0.36rem;
}
.content .topTitle {
  font-size: 0.24rem;
  text-align: center;
  margin: 0.2rem 0;
  color: #999;
}
.content ul li {
  padding: 0.3rem 0.2rem 0;
  height: 2.76rem;
}
.content ul li a {
  display: block;
}
.content ul li a .imgBox {
  width: 2rem;
  height: 1.6rem;
  float: left;
  margin-right: 0.2rem;
}
.content ul li a .desc {
  overflow: hidden;
  height: 100%;
  position: relative;
}
.content ul li a .desc .tit {
  font-size: 0.28rem;
  line-height: 0.4rem;
  overflow: hidden;
  padding-right: 0.2rem;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.content ul li a .desc .price {
  font-size: 0.28rem;
  font-weight: 700;
  margin: 0.16rem 0;
}
.content ul li a .desc .date {
  font-size: 0.24rem;
  color: #ff841d;
}
.content ul li a .desc .arrow_right {
  font-size: 0.28rem;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0.4rem;
  height: 0.4rem;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' vi…746.341213 299.567141Z' transform='translate(0, 812) scale(1, -1)'/></svg>");
}
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  max-width: 750px;
  min-width: 320px;
  display: none;
}
.modal .modal-in {
  width: 4rem;
  height: 3.2rem;
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
}
.modal .modal-in span {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  width: 0.3rem;
  height: 0.3rem;
  text-align: center;
  border-radius: 50%;
  background: url(../images/icon_bar.png) -3.6rem -0.3rem;
  background-size: 4.4rem 2.64rem;
}
.footer .login {
  margin-top: 0;
}
