@media (min-width: 320px) {
  html {
    font-size: 38.1px;
  }
}
@media (min-width: 360px) {
  html {
    font-size: 42.86px;
  }
}
@media (min-width: 375px) {
  html {
    font-size: 44.64px;
  }
}
@media (min-width: 384px) {
  html {
    font-size: 45.71px;
  }
}
@media (min-width: 400px) {
  html {
    font-size: 47.62px;
  }
}
@media (min-width: 414px) {
  html {
    font-size: 49.29px;
  }
}
@media (min-width: 424px) {
  html {
    font-size: 50.48px;
  }
}
@media (min-width: 480px) {
  html {
    font-size: 57.14px;
  }
}
@media (min-width: 540px) {
  html {
    font-size: 64.29px;
  }
}
@media (min-width: 720px) {
  html {
    font-size: 85.71px;
  }
}
@media (min-width: 750px) {
  html {
    font-size: 89.29px;
  }
}
.container {
  background-color: #fff;
  padding-bottom: 1.8rem;
}
.header {
  padding-left: 0.96rem;
  padding-right: 0.88rem;
}
.header a {
  width: 0.96rem;
  height: 0.96rem;
  display: block;
  background: url("../images/icback.svg") no-repeat;
  background-size: 0.4rem 0.4rem;
  background-clip: content-box;
  background-origin: content-box;
  padding: 0.28rem;
  position: absolute;
  top: 0;
  left: 0;
}
.header h3 {
  text-align: center;
  color: #fff;
  font-weight: 700;
  margin: 0;
  line-height: 1rem;
  font-size: 0.36rem;
}
.main {
  background-color: #fff;
  padding: 0.4rem 0.4rem 0 0.2rem;
}
.main h3 {
  height: 0.44rem;
  font-size: 0.36rem;
  font-weight: 700;
  color: #5A5A5A;
  margin: 0;
}
.main .subtitle {
  color: #999;
  font-size: 0.24rem;
  margin: 0.4rem 0.1rem;
}
.main .content {
  font-size: 0.32rem;
  color: #666;
}
.main .content img:first-child {
  width: 2.4rem;
  height: 2.04rem;
  float: right;
}
.main .content img:last-child {
  width: 4.4rem;
  height: 4.4rem;
  margin-top: 0.4rem;
}
.main .goLink {
  height: 0.62rem;
  background-color: #ff841d;
  margin: 0.8rem 0.2rem;
  color: #fff;
  text-align: center;
  line-height: 0.62rem;
  font-size: 0.28rem;
  border-radius: 0.1rem;
}
.mmb_extra {
  padding: 0 0.2rem;
}
.mmb_extra .tit {
  padding: 0.12rem;
  font-size: 0.36rem;
}
.mmb_extra .reply {
  padding: 0.1rem;
  position: relative;
}
.mmb_extra .reply .form {
  height: 2.32rem;
  position: relative;
  border: 0.02rem solid #cccccc;
}
.mmb_extra .reply .form textarea {
  width: 90%;
  height: 1.36rem;
  position: absolute;
  top: 0.04rem;
  left: 5%;
}
.mmb_extra .reply .form .ctrl input {
  width: 2rem;
  height: 0.72rem;
  font-size: 0.32rem;
  color: #ffffff;
  border: 0.04rem solid #ff841d;
  background-color: #ff841d;
  position: absolute;
  bottom: 0rem;
  right: 0rem;
}
.footer .login {
  margin-top: 0;
}
