@media (min-width: 320px) {
  html {
    font-size: 38.1px;
  }
}
@media (min-width: 360px) {
  html {
    font-size: 42.86px;
  }
}
@media (min-width: 375px) {
  html {
    font-size: 44.64px;
  }
}
@media (min-width: 384px) {
  html {
    font-size: 45.71px;
  }
}
@media (min-width: 400px) {
  html {
    font-size: 47.62px;
  }
}
@media (min-width: 414px) {
  html {
    font-size: 49.29px;
  }
}
@media (min-width: 424px) {
  html {
    font-size: 50.48px;
  }
}
@media (min-width: 480px) {
  html {
    font-size: 57.14px;
  }
}
@media (min-width: 540px) {
  html {
    font-size: 64.29px;
  }
}
@media (min-width: 720px) {
  html {
    font-size: 85.71px;
  }
}
@media (min-width: 750px) {
  html {
    font-size: 89.29px;
  }
}
.container {
  background-color: #fff;
}
/* 搜索框 */
.search {
  height: 1.02rem;
  background-color: #fff;
  padding: 0.2rem;
  position: relative;
  padding-right: 1.66rem;
}
.search .search_input {
  width: 100%;
  height: 0.6rem;
}
.search .search_input input {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  padding-left: 0.4rem;
  border-radius: 0.3rem;
  font-size: 0.28rem;
}
.search .search_btn {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  width: 1.26rem;
  height: 0.6rem;
}
.search .search_btn button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #ff841d;
  border-radius: 0.3rem;
  font-size: 0.32rem;
  color: #fff;
}
.nav {
  height: 0.76rem;
  background-image: linear-gradient(to bottom, #ffffff, #ebebeb);
  border-top: 0.02rem solid #cccccc;
  border-bottom: 0.02rem solid #cccccc;
  line-height: 0.76rem;
  padding: 0 0.2rem;
}
.nav a {
  display: block;
  float: left;
  font-size: 0.28rem;
  padding: 0 0.05rem;
}
.nav a span {
  margin-left: 0.1rem;
}
.nav button {
  width: 1.2rem;
  height: 0.56rem;
  margin-top: 0.1rem;
  line-height: 0.56rem;
  border-radius: 0.1rem;
  background: linear-gradient(to bottom, #d7d7d7, #f5f5f5);
  font-size: 0.28rem;
  outline-style: none;
  border: none;
  border-bottom: 0.02rem solid #cccccc;
  box-shadow: 0 0.02rem 0.04rem #888888;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
/* 商品列表 */
.goodsList {
  margin-top: 0.1rem;
}
.goodsList .content ul li {
  height: 2.6rem;
  padding: 0.3rem 0.2rem;
  background-color: #fff;
  border-bottom: 0.02rem solid #cccccc;
}
.goodsList .content ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
.goodsList .content ul li a .img {
  float: left;
}
.goodsList .content ul li a .img img {
  width: 2rem;
  height: 2rem;
}
.goodsList .content ul li a .desc {
  overflow: hidden;
  padding-left: 0.2rem;
  position: relative;
  height: 100%;
}
.goodsList .content ul li a .desc .desc_top {
  font-size: 0.28rem;
}
.goodsList .content ul li a .desc .desc_top span {
  color: #ff841d;
}
.goodsList .content ul li a .desc .desc_bottom {
  width: 100%;
  padding-left: 0.2rem;
  position: absolute;
  bottom: 0.2rem;
  left: 0;
  font-size: 0.24rem;
}
.goodsList .content ul li a .desc .desc_bottom .price {
  color: #EA3900;
  font-size: 0.32rem;
}
.goodsList .content ul li a .desc .desc_bottom span {
  color: #666;
}
.goodsList .more {
  width: 100%;
  height: 0.86rem;
  background-color: #fff;
  padding: 0.2rem 0.2rem 0;
}
.goodsList .more a {
  display: block;
  width: 100%;
  height: 0.64rem;
  border: 1px solid #ccc;
  border-radius: 0.1rem;
  background-image: linear-gradient(to bottom, #ffffff, #f4f4f4);
  text-align: center;
  line-height: 0.64rem;
  font-size: 0.26rem;
}
/* 分页功能 */
.paging {
  height: 0.76rem;
  background-color: #fff;
  margin-top: 0.2rem;
  line-height: 0.76rem;
}
.paging div {
  width: 33.33%;
  text-align: center;
}
.paging div button {
  width: 1.64rem;
  height: 0.66rem;
  font-size: 0.28rem;
  line-height: 0.66rem;
}
.paging div .currentPage {
  width: 1.54rem;
  height: 0.72rem;
  margin: 0 auto;
  border: 0.02rem solid #cccccc;
  cursor: pointer;
  font-size: 0.28rem;
  user-select: none;
  position: relative;
}
.paging div .currentPage .morePage {
  width: 100%;
  border: 0.02rem solid #cccccc;
  background-color: #fff;
  position: absolute;
  top: 0.68rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  display: none;
}
