@import "adapter";
@import "vairable";
@color: #F4483E;


.header {

  padding-left: 48rem/@base;
  padding-right: 44rem/@base;
  background-color: @color;

  a {
    width: 48rem/@base;
    height: 48rem/@base;
    display: block;
    background: url("../images/icback.svg") no-repeat;
    background-size: 20rem/@base 20rem/@base;
    background-clip: content-box;
    background-origin: content-box;
    padding: 14rem/@base;
    position: absolute;
    top: 0;
    left: 0;
  }

  h3 {
    text-align: center;
    color: #fff;
    font-weight: 700;
    margin: 0;
    line-height: 50rem/@base;
    font-size: 18rem/@base;
  }
}


.nav {
  height: 46rem/@base;
  background-color: #fff;
  line-height: 46rem/@base;
  overflow: hidden;
  position: relative;
  margin-bottom: 5rem/@base;

  ul {
    height: 100%;
    width: 16rem;
    margin: 0;

    li {
      height: 100%;
      float: left;
      height: 46rem/@base;
      margin: 0 13rem/@base;

      a {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 14rem/@base;
        color: #000;

      }

      &.current a {
        color: @color;
        border-bottom: 2rem/@base solid @color;
      }
    }
  }
}

.content {

  ul li {
    background-color: #fff;
    margin-bottom: 5rem/@base;
    padding: 15rem/@base 0 5rem/@base;
    height: 150rem/@base;

    &>a {
      display: block;
      width: 130rem/@base;
      height: 130rem/@base;
      float: left;

      .img {

        border: 1px solid #ccc;
      }

    }

    .desc {
      height: 100%;
      padding: 0 10rem/@base;
      overflow: hidden;
      position: relative;

      .tit {
        font-size: 14rem/@base;
        line-height: 1.5;
        margin-bottom: 10rem/@base;
      }

      .price {
        color: @color;
        font-size: 24rem/@base;

        em {
          font-style: normal;
          font-size: 12rem/@base;
        }

        del {
          font-size: 12rem/@base;
          color: #999;
          margin-left: 10rem/@base;
        }
      }

      .remain {

        i {
          display: inline-block;
          width: 82rem/@base;
          height: 14rem/@base;
          border: 1rem/@base solid #fc353a;
          border-radius: 7rem/@base;
          text-align: center;
          background-color: #FFB7B7;
          line-height: 12rem/@base;

          span {
            font-style: normal;
            font-size: 12rem/@base;
            color: #fff;
          }

        }

        b {
          font-size: 14rem/@base;
          color: #fc353a;
          margin-left: 20rem/@base;
        }
      }

      .coupon {
        height: 26rem/@base;
        position: absolute;
        bottom: 0rem/@base;
        left: 10rem/@base;
        padding: 0 5rem/@base;
        font-size: 12rem/@base;
        border: 1px dashed #fc353a;
        line-height: 26rem/@base;
      }

      .href {
        position: absolute;
        bottom: 0rem/@base;
        right: 10rem/@base;
        height: 28rem/@base;
        padding: 0 5rem/@base;
        font-size: 12rem/@base;
        line-height: 28rem/@base;
        background-color: #FF5E5D;
        border-radius: 5rem/@base;

        a {
          color: #fff;
        }
      }
    }

  }
}

.footer {

  .login {
    margin-top: 0 ;
  }
}